// Polices
:root {
    --font-space-mono-regular: 'SpaceMono', sans-serif;
    --font-space-mono-bold: 'SpaceMono', sans-serif;
    --font-space-mono-italic: 'SpaceMono', sans-serif;
    --font-space-mono-bold-italic: 'SpaceMono', sans-serif;
    --font-poppins-regular: 'Poppins', sans-serif;
    --font-poppins-light: 'Poppins', sans-serif;
    --font-poppins-italic: 'Poppins', sans-serif;
    --font-poppins-light-italic: 'Poppins', sans-serif;
}
